/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid; 
    grid-template-rows: 100px 1fr 20px;
    padding: 70px 70px 24px 70px;
    background-color:  #f5cf06;
    color: #8E4106;
    font-family: 'Righteous', cursive;
}

.logo{
    display:flex;
    align-items: center;
    gap: 24px;
}
.logo__text{
    font-size: 32px
    font-weight: 100;
}
main{
    background-color: teal;
}
footer{
    background-color: turquoise;
}